spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
  data:
    redis:
      host: redis
  redis:
    host: redis

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://discovery-service:8761/eureka}